@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
  --global-font-size: 1px; }


body {
  
  font-family: "Rubik", sans-serif;
  color: #333;
  overflow: hidden;
  display: flex;
  user-select: none;
}

.contrast-mode {
  background-color: #000;
}

:root {
  --global-font-size: 1px; /* Default font size */
}

p {
  font-size: var(--global-font-size);
  transition: font-size 0.5s ease;
}


.button {
  transition: transform 2s linear;
  transform: scale(1.1);

  transform: scale(1, 1);
  animation: zoomInOut 6s infinite;
}

.button_txt {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white, #fff);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 36);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 9px;
  left: 632px;
  top: 863px;
}

.title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 96px;
  top: 376px;
  width: 385px;
  height: 328px;
  flex-shrink: 0;
  color: #fff;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 100);
  font-style: normal;
  font-weight: 300;
  line-height: 118%;
}

.title > p {
  color: #fff;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 100);
  font-style: normal;
  font-weight: 300;
  line-height: 118%;
}



.slider {
  background-image: url("./assets/bckground2.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
}
.contrast-mode .slider {
  background-image: none;

  background-color: #000;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
}

.start_button {
  cursor: pointer;
  position: absolute;
  top: 823px; /* Position the button vertically at 50% from the top */
  left: 832px;
  width: 134px;
  height: 134px; /* I'm assuming you intended 40px height, not 4000px */
  margin: 0 auto;
  overflow: hidden;
}

.unionGreen {
  position: fixed;
  top: -155px; /* Position the button vertically at 50% from the top */
  left: 682px;
}


.unionGreen_2{
  position: fixed;
  top: -155px; /* Position the button vertically at 50% from the top */
   left: 682px;
   transform: translate(-959px, 753px) rotate(240deg);

   z-index: 99;
 }
.polygonBlueSmalll {
  position: absolute;
  top: -48px;
  left: 1088px;
}
.polygonYellowSmalll {
  position: absolute;
  top: 831px;
  left: 1753px;
}

.polygon {
  position: absolute;

  left: 1597.07px;
  top: 1042.76px;

  /* Gradient  Banana 
  background: linear-gradient(99.99deg, #FFCF3D 7.49%, #EE5E22 92.51%);*/

  overflow: hidden;
}

.tile_bg {
  border-radius: 24px;
  border: 1px solid #e6e4ff;
  opacity: 0.97;
  background: #fff;
  width: 502px;
  height: 820px;
  flex-shrink: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tile_left {
  position: absolute;
  left: 390px;
  top: 154px;

  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.tile_right {
  position: absolute;
  left: 1010.05px;
  top: 154px;

  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.home_b {
  position: absolute;
  left: 41px;
  top: 42px;
}

.left_shape {
  width: 2993.175px;
  height: 1096px;
  flex-shrink: 0;
  position: absolute;
  left: -1920px;
  top: 0px;
  flex-shrink: 0;
}

.right_shape {
  position: absolute;
  left: 400px;
  top: -880px;
}

.start_quiz_btn {
  position: absolute;
  left: 1488px;
  top: 932px;
  z-index: 99;
}

.start_button_quizz {
  position: absolute;
  flex-shrink: 0;
}

.strt {
  position: absolute;
  left: 58px;
  top: 15px;
  color: var(--White, #fff);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 24);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
}

.contrast-mode .strt {
  position: absolute;
  left: 58px;
  top: 15px;
  color: black;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 24);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
}

.nxt {
  position: absolute;
  left: 35px;
  top: 15px;
  width: 500px;
  height: 25px;
  color: var(--White, #fff);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 24);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.contrast-mode .nxt {
  position: absolute;
  left: 35px;
  top: 15px;
  width: 500px;
   height: 25px;
  color: black;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 24);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
   display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}


.nxt1 {
  position: absolute;
  left: 48px;
  top: 15px;
  width: 500px;
  color: var(--White, #fff);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 24);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
  opacity: 0;
}

.contrast-mode .nxt1 {
  position: absolute;
  left: 48px;
  top: 15px;
  width: 500px;
  color: black;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 24);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
   opacity: 0.
}
.next_quiz_btn {
  position: absolute;
  left: 1375px;
  top: 932px;
  z-index: 99;
}
.try_again_btn {
  position: absolute;
  left: 1375px;
  top: 800px;
  z-index: 99;
}

.stork {
  position: absolute;
  left: 670px;
  top: 0px;
}

.set_right_buttons {
  display: flex;
  width: 243px;
  height: 65px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  left: 1636px;
  top: 42px;
  position: absolute;
  z-index: 102;
}

.set_left {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  left: 40px;
  top: 42px;
  position: absolute;
  z-index: 110;
}

.set_left_home {
  display: flex;
  width: 65px;
  height: 65px;
  left: 40px;
  top: 42px;
  position: relative;
  justify-content: left;
}

.set_right_bg {
  z-index: 102;
  left: 1580px;
  top: -10px;
  position: absolute;
}

.contrast-mode .set_right_bg {
  z-index: 102;
  left: 1580px;
  top: -10px;
  position: absolute;
  fill: var(--Black, #000);
  stroke-width: 1px;
  stroke: var(--Banana-500, #fcc239);
}

.tile_left_photo {
  box-sizing: border-box;
  left: 38px;
  top: 36px;
  width: 425.848px;
  height: 562px;
  border-radius: 12px;
  position: absolute;
  border-radius: 12px;
}

.img_tile {
  box-sizing: border-box;
  left: 38px;
  top: 36px;
  width: 425.848px;
  height: 562px;
  border-radius: 12px;
  position: absolute;
  border-radius: 12px;
  background-color: rgb(104, 104, 104);
  object-fit: none;
}




.img_quiz_tile {
  box-sizing: border-box;
  left: 32px;
  top: 36px;
  width: 438px;
  height: 489px;
  border-radius: 12px;
  position: absolute;
  border-radius: 12px;
  background-color: rgb(104, 104, 104);
  object-fit: none;
}

.yellow_Arrow {
  position: absolute;
  left: 376px;
  top: 600px;
  border-radius: 24px;
}

.tile_right_photo {
  box-sizing: border-box;
  left: 1055px;
  top: 195px;
  width: 425.848px;
  height: 562px;
  border-radius: 12px;
  position: absolute;
}

.tile1_title >p{
  position: absolute;

  left: 37px;
  top: 610px;
  width: 425.848px;
}



.tile1_title >p{
  position: absolute;
  color: var(--blueberry-900, #06252d);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 30);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 41.4px */

}









.tile_title_quiz >p{
  position: relative;
  color: var(--blueberry-900, #06252d);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 30);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 41.4px */

}

.txt_quizz {
  position: absolute;

  width: 502px;
  top: 540px;
 
display: flex;
align-items: center;
justify-content: center;
}


.contrast-mode .quiz_start {
  position: fixed;
  background-color: #000;
}

.quiz_title  {
  width: 606px;
  flex-shrink: 0;


  left: 91px;
  top: 356px;
  position: absolute;
}

.quiz_titlee  > p{

  color: #06252d;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 46);
  font-style: normal;
  font-weight: 500;
  line-height: 138%;
}

.contrast-mode .quiz_title {
  width: 606px;
  flex-shrink: 0;

  color: #ffffff;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 46);
  font-style: normal;
  font-weight: 500;
  line-height: 138%;
  left: 91px;
  top: 356px;
  position: absolute;
}

.contrast-mode .quiz_titlee > p{


  color: #ffffff;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 46);
  font-style: normal;
  font-weight: 500;
  line-height: 138%;

}

.quiz_under_title>p {
  position: relative;
  top: 28px;
  width: 606px;
  flex-shrink: 0;
  color: var(--blueberry-900, #06252d);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 24);
  font-style: normal;
  font-weight: 400;
  line-height: 159.5%; /* 38.28px */
}

.contrast-mode .quiz_under_title >p{
  position: relative;
  top: 28px;
  width: 606px;
  flex-shrink: 0;
  color: var(--blueberry-900, #fff);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 24);
  font-style: normal;
  font-weight: 400;
  line-height: 159.5%; /* 38.28px */
}

.question_rectagle {
  position: relative;
  border-radius: 24px;
  border: 1px solid #e6e4ff;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  width: 914px;
  display: flex; /* Ustawienie flexbox */
  /* Centralizacja w poziomie */
  align-items: center; /* Centralizacja w pionie */
}

.contrast-mode .question_rectagle {
  position: relative;
  border-radius: 24px;
  border: 1px solid #fcc239;
  background: #000000;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  width: 914px;
  display: flex; /* Ustawienie flexbox */
  /* Centralizacja w poziomie */
  align-items: center; /* Centralizacja w pionie */
}

.question_nr_knowledge {
  position: absolute;
  left: 12px;
  top: 288px;
}

.question  >p{
  position: relative;
  left: 39px;

  color: #371a4d;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 28);
  font-style: normal;
  font-weight: 700;
  line-height: 138%; /* 38.64px */
  width: 756px;
  margin: 12px;
}

.contrast-mode .question >p{
  position: relative;
  left: 39px;

  color: #ffffff;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 28);
  font-style: normal;
  font-weight: 700;
  line-height: 138%; /* 38.64px */
  width: 756px;
}

.quiz_bar {
  position: absolute;
  left: 435px;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.answer_tile {
  position: fixed;
}

.answer_txt {
  left: 82px;
  top: 577px;
  position: absolute;

  color: var(--blueberry-900, #06252d);
  text-align: center;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 30);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 41.4px */
  vertical-align: middle;
  text-align: center;

  width: 398.207px;
}

.answer_photo {
  position: absolute;

  left: 62px;
  top: 62px;
  box-sizing: border-box;

  width: 438px;
  height: 489px;

  position: absolute;
  border-radius: 12px;
  background-color: rgb(104, 104, 104);
  object-fit: none;
}
.question_letter {
  position: relative;
  left: 0px;
  top: 0px;

  width: 100px;
  height: 40px;
  color: var(--White, #fff);
  align-items: center;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 30);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 41.4px */
  display: flex;
  justify-content: center;



}


.contrast-mode .question_letter {
  width: 100px;
  height: 100px;
  color: var(--White, #000000);
  text-align: center;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 30);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 41.4px */
  display: flex;
  justify-content: center;


}

.answer_pht {
}

.quiz_answer {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  left: 70px;
  top: 120px;

  border-radius: 100px;
  position: absolute;
  gap: 570px;
}
.quizz {
  position: fixed;
}


.quiz_description_long_pos{
  position: absolute;
  left: 91px;
  top: 499px;
}

.contrast-mode .quiz_description_long_pos{
  position: absolute;
  left: 91px;
  top: 499px;
}

.quiz_description_long >p{
  color: #000;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 20);
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  width: 606px;



}




.contrast-mode .quiz_description_long >p{
  color: white;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 20);
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  width: 606px;


}
.quiz_description_title >p{
  width: 657px;
  color: var(--blueberry-900, #06252d);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 55);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 75.9px */

  position: absolute;
  left: 91px;
  top: 365px;
}

.contrast-mode .quiz_description_title >p{
  width: 657px;
  color: white;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 55);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 75.9px */

  position: absolute;
  left: 91px;
  top: 365px;
}

.answer_photo_description {
  position: absolute;
  left: 1170px;
  top: 224px;

  flex-shrink: 0;

  box-sizing: border-box;

  width: 556px;
 
  border-radius: 12px;
  position: absolute;
  object-fit: contain;
  border-radius: 24px;
}

.quiz_description_question >p{
  color: var(--blueberry-900, #06252d);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 24);
  font-style: normal;
  font-weight: 600;
  line-height: 138%;
  position: absolute;
  left: 91px;
  top: 256px;
  width: 700px;
}
.contrast-mode .quiz_description_question >p{
  color: white;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 24);
  font-style: normal;
  font-weight: 600;
  line-height: 138%;
  position: absolute;
  left: 91px;
  top: 256px;
}

.number_id {
  color: var(--White, #fff);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 40);
  font-style: normal;
  font-weight: 700;
  line-height: 138%; /* 55.2px */
  position: relative;
  left: 27px;
}

.contrast-mode .number_id {
  color: #000;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 40);
  font-style: normal;
  font-weight: 700;
  line-height: 138%; /* 55.2px */
  position: relative;
  left: 27px;
}

.number_all {
  color: var(--blueberry-900, #06252d);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 30);
  font-style: normal;
  font-weight: 700;
  line-height: 138%;
  position: relative;
  left: 80px;
  top: 0px;
}

.contrast-mode .number_all {
  color: #ffffff;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 30);
  font-style: normal;
  font-weight: 700;
  line-height: 138%;
  position: relative;
  left: 80px;
  top: 0px;
}
.slash {
  position: relative;

  left: 75px;

  color: var(--blueberry-900, #06252d);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 30);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 41.4px */
  z-index: 99;
}

.slash {
  position: relative;

  left: 75px;

  color: var(--blueberry-900, #06252d);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 30);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 41.4px */
  z-index: 99;
}

.contrast-mode .slash {
  position: relative;

  left: 75px;

  color: #ffffff;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 30);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 41.4px */
  z-index: 99;
}

.knowledge_slider {
  position: fixed;

  z-index: 99;
}

.polygon_blue_small_knowledge {
  position: absolute;
  left: 521px;
  top: 55px;
  z-index: 99;
}

.union_green_knowledge {
  position: absolute;
  left: -326px;
  top: 935px;
  z-index: 99;
}

.knowledge_slider_text {
  position: absolute;
  left: 143px;
  top: 342px;
  width: 515px;
  height: 543px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}
.konwledge_title {
  color: var(--blueberry-900, #06252d);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 24);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 33.12px */
}

.contrast-mode .konwledge_title {
  color: var(--blueberry-900, #ffffff);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 24);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 33.12px */
}

.konwledge_subtitle {
  color: var(--blueberry-900, #06252d);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 18);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 24.84px */
}

.konwledge_text {
  color: var(--blueberry-900, #06252d);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 16);
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 26.4px */
  overflow-y: auto;
}

.contrast-mode .konwledge_text {
  color: var(--blueberry-900, #ffffff);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 16);
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 26.4px */
  overflow-y: auto;
}

.swipe_left {
  position: absolute;
  left: 1635px;
  top: 202px;
  z-index: 102;
  transition: transform 0.5s;


}

.contrast-mode .swipe_left {
  position: absolute;
  left: 1635px;
  top: 202px;
  z-index: 102;
  
  transition: transform 0.5s;
  /* transform: translateX(-300px); */
}

.swipe_left_zoom {
  position: absolute;
  left: 1635px;
  top: 202px;
  z-index: 102;
  transform: translateX(300px);
  transition: transform 0.5s;
    fill: #4ad9ea;
}

.contrast-mode .swipe_left_zoom {
  position: absolute;
  left: 1635px;
  top: 202px;
  z-index: 102;
  transform: translateX(300px);
  transition: transform 0.5s;
  fill: #4ad9ea;
}





.swipe_left2 {
  position: absolute;
  left: 1435px;
  top: 850px;
  z-index: 102;
  transition: transform 1s;


}

.contrast-mode .swipe_left2 {
  position: absolute;
  left: 1635px;
  top: 850px;
  z-index: 102;
  
  transition: transform 1s;
  /* transform: translateX(-300px); */
}

.swipe_left_zoom2 {
  position: absolute;
  left: 1635px;
  top: 850px;
  z-index: 102;
  transform: translateX(300px);
  transition: transform 1s;
    fill: #4ad9ea;
}

.contrast-mode .swipe_left_zoom2 {
  position: absolute;
  left: 1635px;
  top: 850px;
  z-index: 102;
  transform: translateX(300px);
  transition: transform 1s;
  fill: #4ad9ea;
}
.blur_knowledge {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 101;
  opacity: 1;
  transition: opacity 0.4s ;
  background-image: url("./assets/blur.png");

}
.contrast-mode .blur_knowledge {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 101;
  opacity: 1;
  transition: opacity 0.5s;
  background-image: url("./assets/blur_contrast.png");
  
}


.blur_knowledge_zoom {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 200;
  opacity: 0;
  transition: opacity 0.8s 0.2s;
  background-image: url("./assets/blur.png");
}

.blur_knowledge_blue {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 104;
  opacity: 1;
  transition: opacity 0.5s;
  background-image: url("./assets/blur_blue.png");
}

.contrast-mode .blur_knowledge_blue {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 104;
  opacity: 1;
  transition: opacity 0.5s;
  background-image: url("./assets/blur_blue_contrast.png");
 background-repeat: no-repeat;
}

.blur_knowledge_blue_zoom {
  position: absolute;
  left: -10px;
  top: -10px;
  pointer-events: none;
  z-index: 104;
  opacity: 0;
  transition: opacity 0.5s;
}


.blur_zoom_hidden {
  pointer-events: none;
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 100;
}

.blur_zoom {
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  z-index: 100;
}

.swiper-container {
  width: 100%;
  height: 100%;
  z-index: 5;
}

.gallery_bg {
  position: relative;

  right: 0px;
  mix-blend-mode: luminosity;
  filter: grayscale(1);
  border-radius: 0px;
  max-width: 1920px;
  max-height: 1080px;
  z-index: 21;
 
  transition: transform 1s, filter 2s, border-radius 2s, max-width 1s,
    max-height 1s; /* Zachowaj spójność właściwości transition */
}

.gallery_bg1 {
  position: relative;
right: 0px;

  filter: grayscale(0);
  border-radius: 21px;
  max-width: 1428px;
  max-height: 951px;
  transition: transform 1s, filter 2s, border-radius 2s, max-width 1s,
    max-height 1s;
}

.gallery_bg1 {
  position: relative;
right: 0px;

  filter: grayscale(0);
  border-radius: 21px;
  max-width: 1428px;
  max-height: 951px;
  transition: transform 1s, filter 2s, border-radius 2s, max-width 1s,
    max-height 1s;
}


button {
  z-index: 999;
  position: absolute;
  left: 0px;
  top: 0px;
}
.intersect_qzz_strt {
  position: absolute;
  left: 1429px;
  top: 229px;
}

.contrast-mode .intersect_qzz_strt {
  position: absolute;
  left: 1429px;
  top: 229px;
  fill: #000;
  fill: var(--Black, #000);
  stroke-width: 1px;
  stroke: var(--Banana-500, #fcc239);
}

.gray_shape_qzz_strt {
  position: absolute;
  left: 812px;
  z-index: -15;
}

.contrast-mode.gray_shape_qzz_strt {
  position: absolute;
  left: 812px;
  z-index: -15;
  fill: #ff0000;
}

.contrast-mode .gray_shape_qzz_strt {
  position: absolute;
  left: 812px;
  z-index: -15;
  opacity: 0;
}

.scrollArea {
  margin: 0 auto;
  border: 0px solid #efefef;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  z-index: 100;
  text-align: left;
  direction: rtl;
  padding-left: 50px;
  transform: translateX(-56px);
}
*::-webkit-scrollbar {
  width: 6px;
  direction: rtl;
  position: absolute;
  left: 120px;
}

*::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 9px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1796b5;
  border-radius: 100px;
  border: 4px none #ffffff;
}

.contrast-mode *::-webkit-scrollbar-thumb {
  background-color: #fcc239;
  border-radius: 100px;
  border: 4px none #ffffff;
}
.question_number {
  left: -103px;
  top: -52px;
  position: relative;
  z-index: 99;
}


.question_number_knowledge {
  left: 40px;
  top: 220px;
  position: absolute;
  z-index: 199;
}
.question_number_knowledge_invisible{
  opacity: 0;

}


.right_answer_tile {
  border-radius: 24px;

  background: #fff;

  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.wrong_answer_tile {
  border-radius: 24px;

  background-color: #fff;

  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.contrast-mode .wrong_answer_tile {
  border-radius: 24px;
}

.score_number {
  color: var(--White, #ffffff);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 40);
  font-style: normal;
  font-weight: 700;
  line-height: 138%; /* 55.2px */
  position: relative;
  left: 478px;
  top: -125px;
}
.correct {
  width: 553px;
  height: 103px;
}
.score {
  position: absolute;
  left: 91px;
  top: 549px;
  display: grid;
  gap: 32px;
}
.score_text {
  color: var(--blueberry-900, #06252d);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 28);
  font-style: normal;
  font-weight: 400;
  line-height: 138%; /* 38.64px */
  position: relative;
  left: 34px;
  top: -210px;
  display: flex;
  justify-content: left;
  
}

.text_sumary {
  color: var(--blueberry-900, #06252d);
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 46);
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  width: 657px;
  position: absolute;
  left: 91px;
  top: 204px;
}

.contrast-mode .text_sumary {
  color: white;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 46);
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  width: 657px;
  position: absolute;
  left: 91px;
  top: 204px;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 1080px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: calc(var(--global-font-size) * 120);
  background: #ff9b9b;
  text-align: center;
}
.left_arrow_quiz {
  position: absolute;
  left: 40px;
  top: 500px;
}

.contrast-mode .left_arrow_quiz {
  position: absolute;
  left: 40px;
  top: 500px;
  fill:#fcc239
}
.right_arrow_quiz {
  position: absolute;
  left: 1815px;
  top: 500px;
}

.contrast-mode .right_arrow_quiz {
  position: absolute;
  left: 1815px;
  top: 500px;
  fill:#fcc239
}

.swiper {
  width: 1920px;
  height: 1080px;
}

.question_nr {
  z-index: 99;
  position: absolute;
  left: 40px;
  top: 250px;
}

.animate {
  transform: translate(1442px, 0px);
  z-index: 98;
  transition: transform 1s;
}

.animateUnionGreen {
  transform: translate(-959px, 753px) rotate(240deg);
  transition: transform 1s;
  z-index: 99;
}

.question_nmber {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 103.281px;
  height: 124px;
  flex-shrink: 0;
  border-radius: 24px;
  background: var(
    --Gradient-Blueberry,
    linear-gradient(100deg, #4ad9ea 7.49%, #3365e2 92.51%)
  );
  display: flex;
  align-items: center;
}

.contrast-mode .question_nmber {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 103.281px;
  height: 124px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #ffffff;

  display: flex;
  align-items: center;
}

.max_Nr_BG {
  position: absolute;
  left: 40px;
  width: 160.311px;
  height: 73px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  z-index: -1;
}

.contrast-mode .max_Nr_BG {
  position: absolute;
  border: 1px solid #fcc239;
  left: 40px;
  width: 160.311px;
  height: 73px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #000;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  z-index: -1;
}

.nr_BG_shadow {
  position: absolute;
  left: 16px;
  top: 0px;
  width: 71px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 24px;
  border: 1px solid #e6e4ff;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
}

.quiz_desc_number {
  position: absolute;
  top: 43px;
  left: 900px;
}

.union_quiz {
  position: absolute;
  top: 900px;
  left: -61px;
}

.zoom_tile {
  position: absolute;
  z-index: 102;
  left: 1740px;
  top: 880px;
  display: flex;
}
.zoom_button {
  position: absolute;
  top: 80px;
  left: 70px;
}

.num_of_slides {
  position: absolute;
  z-index: 110;
  top: 228px;
  left: -360px;
}

.swipe_txt {
  position: absolute;
  left: 101px;
  top: 5px;
  width: 175px;
  color: #fff;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 21);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.photo_desc_txt >p{
  position: absolute;
  left: 101px;
  top: 5px;
  width: 175px;
  color: #000000;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 21);
  font-style: normal;

  line-height: normal;
}



.st_slider {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 560px;
  z-index: 101;
  opacity: 1;
  transition: opacity 0.5s;
}

.st_slider_zoom {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 560px;
  z-index: 90;
  opacity: 0;
  transition: opacity 0.5s, z-index 0s 2s;
}
.nd_slider {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1080px;
  width: 1920px;
  z-index: 100;
  transition: transform 4s, z-index;
}

.nd_slider_zoom {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  z-index: 100;

  

}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.008);
  }
}

.mySwiper3 {
  width: 680px !important;
}
.mySwiper4 {
  width: 1920px !important;
}

.shadow_white_left {
  box-shadow: inset 100px 7px 55px -60px rgba(255, 255, 255, 1);
  position: absolute;
  top: 400px;
  left: 0px;
  width: 200px;
  height: 700px;
  z-index: 102;
  opacity: 1;
  transition: opacity 0.5s;
}

.contrast-mode .shadow_white_left {
  box-shadow: inset 100px 7px 55px -60px rgb(0, 0, 0);
  position: absolute;
  top: 340px;
  left: 0px;
  width: 200px;
  height: 700px;
  z-index: 102;
  opacity: 1;
  transition: opacity 0.5s;
}
.shadow_white_left_zoom {
  box-shadow: inset 100px 7px 55px -60px rgb(255, 255, 255);
  position: absolute;
  top: 300px;
  left: 0px;
  width: 200px;
  height: 700px;
  z-index: 102;
  opacity: 0;
  transition: opacity 0.5s;}


.contrast-mode .shadow_white_left_zoom {
  box-shadow: inset 100px 7px 55px -60px rgb(0, 0, 0);
  position: absolute;
  top: 300px;
  left: 0px;
  width: 200px;
  height: 700px;
  z-index: 102;
  opacity: 0;
  transition: opacity 0.5s;
}

.shadow_white_right {
  box-shadow: -10px 9px 55px 70px rgba(255, 255, 255, 1);
  position: absolute;
  top: 400px;
  left: 690px;
  width: 00px;
  height: 1080px;
  z-index: 102;
  opacity: 1;
  transition: opacity 1s;
}
.contrast-mode .shadow_white_right {
  box-shadow: -10px 9px 55px 70px rgb(0, 0, 0);
  position: absolute;
  top: 400px;
  left: 690px;
  width: 00px;
  height: 1080px;
  z-index: 102;
  opacity: 1;
  transition: opacity 1s;
}

.shadow_white_right_zoom {
  box-shadow: -10px 9px 55px 70px rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 690px;
  width: 00px;
  height: 1080px;
  z-index: 102;
  opacity: 0;
  transition: opacity 0.1s;
}

.contrast-mode .shadow_white_right_zoom {
  box-shadow: -10px 9px 55px 70px rgb(0, 0, 0);
  position: absolute;
  top: 0px;
  left: 690px;
  width: 00px;
  height: 1080px;
  z-index: 102;
  opacity: 0;
  transition: opacity 0.1s;
}

.tile1_choose_txt{
  position: absolute;
  left: 256px;
  top: 745px;
  color: #f79e36;
  width: 121.242px;
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 20);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5px;
}

.test2 {
  position: fixed;
  left: 0px;
  top: 0px;
 
}
.contrast-mode .test2 {
  
}

.knowledge_text >p{
  font-family: Rubik;
  font-size: calc(var(--global-font-size) * 16);

 

  line-height: 26.4px;

}

.contrast-mode .knowledge_text {

  color: white;
  font-size: calc(var(--global-font-size) * 16);
}

.top-shadow-div,
.bottom-shadow-div {
  position: absolute;
  left: 0;
  right: 0;
  height: 100px;
}

.top-shadow-div {
  top: 140px;
  background: linear-gradient(to bottom, rgb(255, 255, 255), transparent);
  z-index: 102;
}

.bottom-shadow-div {
  bottom: 0;
  background: linear-gradient(to top, rgb(255, 255, 255), transparent);
  z-index: 102;
}

.contrast-mode .top-shadow-div {
  top: 140px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
  z-index: 102;
}

.contrast-mode .bottom-shadow-div {
  bottom: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), transparent);
  z-index: 102;
}

.bg {
  display: flex;
  position: fixed;
  left: 800px;
  align-items: center;
  justify-content: center;
  height: 1080px;
  width: 800px;
  transform: translateX(300px);
  transition: transform 1s, position 1s, left 1s, width 1s,;
}

.bg1 {
  transition: transform 1s, position 1s, left 1s, width 1s,;
  position: fixed;
  left:150px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1080px;
  width: 1620px;
}



.bg23 {
  display: flex;
  position: fixed;
  left: 800px;
  align-items: center;
  justify-content: center;
  height: 1080px;
  width: 800px;
  transform: translateX(300px);
  opacity: 1;
  z-index: 22;
  transition: transform 1s, position 1s, left 1s, width 1s, opacity 0.2s z-index  0s 1s;
}

.bg123 {
  transition: transform 1s, position 1s, left 1s, width 1s, opacity 0.2s 0.7s, z-index  0s 1s;
  position: fixed;
  left:150px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1080px;
  width: 1620px;
  opacity: 0;
  z-index: -22;
}

.play{
  position: fixed;
  left: 1450px;
  top:400px;
  z-index: 24;
}

.play1{
  position: fixed;
  z-index: -24;
  opacity: 0;
}


/* Style dla buttonow svg */
.my-rectangle {
  fill: url(#paint0_linear_0_514);
}

.my-ellipse {
  fill: white;
}

.my-path {
  fill: url(#paint1_linear_0_514);
}

.contrast-mode .my-rectangle {
  fill: #fcc239;
}

.contrast-mode .my-ellipse {
  fill: black;
}

.contrast-mode .my-path {
  fill: #fcc239;
}

.border-rect {
  stroke: #e6e4ff;
}

.red-rect {
  fill: #fa3b38;
}
.green-rect {
  fill: #1eae9f;
}

.contrast-mode.border-rect {
  stroke: #e6e4ff;
}

.contrast-mode .red-rect {
  fill: #fd9d9b;
}

.contrast-mode .green-rect {
  fill: #5ae2d4;
}

.contrast-mode .contrast_button {
  fill: #fcc239;
}

.contrast-mode .size_button {
  fill: #fcc239;
}

.contrast-mode .language_button {
  fill: #fcc239;
}

.contrast-mode .home_button {
  fill: #fcc239;
}
.contrast-mode .back_button {
  fill: #fcc239;
}



.com4{
  position: absolute;
  left: 50px;}

  .custom_tile{
    position: fixed;
    width: 502px;
height: 704px;
flex-shrink: 0;
border-radius: 24px;
background: #FFF;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);

  }





  .custom_tile{
    position: fixed;
    width: 502px;
height: 704px;
flex-shrink: 0;

background: #FFF;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);}







  .custom_tile_correct{
    position: fixed;
    width: 502px;
    height: 701px;
flex-shrink: 0;
border-radius: 24px; /*1*/
background: #FFF;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);}


  .custom_tile_correct::before{
    content: "";
    position: fixed;
    width: 498px;
height: 699px;
flex-shrink: 0;

box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10); 
  border-radius: 24px; /*1*/
  border: 2px solid transparent; /*2*/
  background: linear-gradient(90deg,rgba(94, 230, 214, 1) 0%,rgba(20, 157, 165, 1) 100%) border-box; /*3*/
  -webkit-mask: /*4*/
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
          mask-composite: exclude; /*5*/
  }




.contrast-mode  .custom_tile_correct{
    position: fixed;
    width: 502px;
    height: 701px;
flex-shrink: 0;
border-radius: 24px; /*1*/
background: #FFF;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
border-radius: 24px; /*1*/
border: 2px solid transparent; /*2*/}



 .contrast-mode .custom_tile_correct::before{
    content: "";
    position: fixed;
    width: 498px;
height: 699px;
flex-shrink: 0;

box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10); 
  border-radius: 24px; /*1*/
  border: 2px solid transparent; /*2*/
  border-color: rgba(90, 226, 212, 1);
  }




  .custom_tile_wrong{
    position: fixed;
    width: 502px;
height: 701px;
flex-shrink: 0;
border-radius: 24px;
background: #FFF;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);}


  .custom_tile_wrong::before{
    content: "";
    position: fixed;
    width: 498px;
height: 699px;
flex-shrink: 0;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10); 
  border-radius: 24px; /*1*/
  border: 2px solid transparent; /*2*/
  background: linear-gradient(90deg,rgba(253,98,94,1) 0%,rgba(224,50,50,1) 100%) border-box; /*3*/
  -webkit-mask: /*4*/
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
          mask-composite: exclude; /*5*/
  }

  


  .contrast-mode .custom_tile_wrong{
    position: fixed;
    width: 502px;
height: 701px;
flex-shrink: 0;
border-radius: 24px;
background: #FFF;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);}


  .contrast-mode .custom_tile_wrong::before{
    content: "";
    position: fixed;
    width: 498px;
height: 699px;
flex-shrink: 0;

box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10); 



  border-radius: 24px; /*1*/
  border: 2px solid transparent; /*2*/
  background: rgb(253,98,94); /*5*/
  }



  .circle_custom_tile{
position: absolute;
left: 200px;
top: 654px;

    width: 99.801px;
height: 100px;
flex-shrink: 0;
background:var(--Neutral-gradient, linear-gradient(35deg, #A4A4A4 25.76%, #F2F0F0 107.95%));
border-radius: 100%;
border: solid 5px;
border-color: #FFF;
stroke-width: 5px;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
background: rgba(164, 164, 164, 1);
background: linear-gradient(45deg, rgba(164, 164, 164, 1) 30%, rgba(242, 240, 240, 1) 100%);


z-index: 100;

  }


  .contrast-mode .circle_custom_tile{
position: absolute;
left: 200px;
top: 654px;

    width: 99.801px;
height: 100px;
flex-shrink: 0;
background:rgba(252, 194, 57, 1);
border-radius: 100%;
border: solid 5px;
border-color: #000000;
stroke-width: 5px;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);




z-index: 100;

  }



  .circle_custom_tile_correct{
    position: absolute;
    left: 200px;
    top: 654px;
    
        width: 99.801px;
    height: 100px;
    flex-shrink: 0;
    background:var(--Neutral-gradient, linear-gradient(35deg, #A4A4A4 25.76%, #F2F0F0 107.95%));
    border-radius: 100%;
    border: solid 5px;
    border-color: #FFF;
    stroke-width: 5px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
    background: rgba(94, 230, 214, 1);
    background: linear-gradient(90deg, rgba(94, 230, 214, 1) 0%, rgba(20, 157, 165, 1) 100%);
    
    
    z-index: 100;
    
      }

.contrast-mode   .circle_custom_tile_correct{
  position: absolute;
  left: 200px;
  top: 654px;
  
      width: 99.801px;
  height: 100px;
  flex-shrink: 0;
 
  border-radius: 100%;
  border: solid 5px;
  border-color: #FFF;
  stroke-width: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
  background: rgba(94, 230, 214, 1);
  
  
  z-index: 100;
  
    }


      .circle_custom_tile_wrong{
        position: absolute;
        left: 200px;
        top: 654px;
        
            width: 99.801px;
        height: 100px;
        flex-shrink: 0;
        background:var(--Neutral-gradient, linear-gradient(35deg, #A4A4A4 25.76%, #F2F0F0 107.95%));
        border-radius: 100%;
        border: solid 5px;
        border-color: #FFF;
        stroke-width: 5px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
        background: rgb(253,98,94);
        background: linear-gradient(90deg, rgba(253,98,94,1) 0%, rgba(224,50,50,1) 100%);
        
        
        z-index: 100;
        
          }


          .contrast-mode .circle_custom_tile_wrong{
            position: absolute;
            left: 200px;
            top: 654px;
            
                width: 99.801px;
            height: 100px;
            flex-shrink: 0;
            
            border-radius: 100%;
            border: solid 5px;
            border-color: #FFF;
            stroke-width: 5px;
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
            background: rgb(253,98,94);
           
            
            
            z-index: 100;
            
              }




 .container, .video-controls, .video-timer, .options{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{

  user-select: none;
  overflow: hidden;

  max-width: 1428px;
  max-height: 951px;
  border-radius: 21px;
  background: #000;
  aspect-ratio: 16 / 9;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.container.fullscreen{
  max-width: 100%;
  width: 100%;
  height: 100vh;
  border-radius: 0px;
}
.wrapper{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  bottom: -15px;
  transition: all 0.08s ease;
}
.container.show-controls .wrapper{
  opacity: 1;
  bottom: 0;
  transition: all 0.13s ease;
}
.wrapper::before{
  content: "";
  bottom: 0;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: calc(100% + 35px);
  pointer-events: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
.video-timeline{
  height: 7px;
  width: 100%;
  cursor: pointer;
}
.video-timeline .progress-area{
  height: 3px;
  position: relative;
  background: rgba(255, 255, 255, 0.6);
}
.progress-area span{
  position: absolute;
  left: 50%;
  top: -25px;
  font-size: 13px;
  color: #fff;
  pointer-events: none;
  transform: translateX(-50%);
}
.progress-area .progress-bar{
  width: 0%;
  height: 100%;
  position: relative;
  background: #fcc239;
}
.progress-bar::before{
  content: "";
  right: 0;
  top: 50%;
  height: 13px;
  width: 13px;
  position: absolute;
  border-radius: 50%;
  background: #fcc239;
  transform: translateY(-50%);
}
.progress-bar::before, .progress-area span{
  display: none;
}
.video-timeline:hover .progress-bar::before,
.video-timeline:hover .progress-area span{
  display: block;
}
.wrapper .video-controls{
  padding: 5px 20px 10px;
}
.video-controls .options{
  width: 100%;
}
.video-controls .options:first-child{
  justify-content: flex-start;
}
.video-controls .options:last-child{
  justify-content: flex-end;
}
.options button{
  height: 40px;
  width: 40px;
  font-size: 19px;
  border: none;
  cursor: pointer;
  background: none;
  color: #efefef;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.options button :where(i, span) {
  height: 100%;
  width: 100%;
  line-height: 40px;
}
.options button:hover :where(i, span){
  color: #fff;
}
.options button:active :where(i, span){
  transform: scale(0.9);
}
.options button span{
  font-size: 23px;
}
.options input{
  height: 4px;
  margin-left: 3px;
  max-width: 75px;
  accent-color: #fcc239;
}
.options .video-timer{
  color: #efefef;
  margin-left: 15px;
  font-size: 14px;
}
.video-timer .separator{
  margin: 0 5px;
  font-size: 16px;
  font-family: "Open sans";
}
.playback-content{
  display: flex;
  position: relative;
}
.playback-content .speed-options{
  position: absolute;
  list-style: none;
  left: -40px;
  bottom: 40px;
  width: 95px;
  overflow: hidden;
  opacity: 0;
  border-radius: 4px;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: opacity 0.13s ease;
}
.playback-content .speed-options.show{
  opacity: 1;
  pointer-events: auto;
}
.speed-options li{
  cursor: pointer;
  color: #000;
  font-size: 14px;
  margin: 2px 0;
  padding: 5px 0 5px 15px;
  transition: all 0.1s ease;
}
.speed-options li:where(:first-child, :last-child){
  margin: 0px;
}
.speed-options li:hover{
  background: #dfdfdf;
}
.speed-options li.active{
  color: #fff;
  background: #fcc239;
}
.container video{
  width: 100%;
}

@media screen and (max-width: 540px) {
  .wrapper .video-controls{
    padding: 3px 10px 7px;
  }
  .options input, .progress-area span{
    display: none!important;
  }
  .options button{
    height: 30px;
    width: 30px;
    font-size: 17px;
  }
  .options .video-timer{
    margin-left: 5px;
  }
  .video-timer .separator{
    font-size: 14px;
    margin: 0 2px;
  }
  .options button :where(i, span) {
    line-height: 30px;
  }
  .options button span{
    font-size: 21px;
  }
  .options .video-timer, .progress-area span, .speed-options li{
    font-size: 12px;
  }
  .playback-content .speed-options{
    width: 75px;
    left: -30px;
    bottom: 30px;
  }
  .speed-options li{
    margin: 1px 0;
    padding: 3px 0 3px 10px;
  }
  .right .pic-in-pic{
    display: none;
  }
}

.photo_text{
position: relative;
height: 119px;
width: 519px;
background-color: #ffffff;
border-radius: 21px;
opacity: 80%;

}


.photo_text_zoom {
  position: relative;
  height: 119px;
  width: 519px;
  background-color: #ffffff;
  border-radius: 21px;
  transition: transform 0.5s;

    opacity: 80%;
}


.language_b{
width: 65px;
height: 65px;
display: flex;
align-items: center;
justify-content: center;

}

.language_letter{

  color: var(--white, #3D4754);
  font-family: Rubik;
  font-size: 24px;

 

position: fixed;
}