@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  
  font-family: "Rubik", sans-serif;
  color: #333;
  overflow: hidden;
  display: flex;
  user-select: none;

 
 
}

.button{ transition: transform 2s linear;
  transform: scale(1.1);
  
  transform: scale(1,1);
  animation: zoomInOut 6s infinite;}

.button_txt{
  position: absolute;
  color: var(--white, #FFF);
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 9px;
  left: 632px;
  top:863px;
 

}

.title {
  position: absolute;
  left: 96px;
  top:376px;
  width: 585px;
height: 328px;
flex-shrink: 0;
color: #FFF;
font-family: Rubik;
font-size: 150px;
font-style: normal;
 /* 177px */

}
.slider {
  background-image: url("./assets/bckground2.png");
  background-size: cover; 
  background-position: center; 
  width: 100vw; 
  height: 100vh;
  position: fixed;
}



.start_button {
 
  cursor: pointer;
  position: absolute;
  top: 823px; /* Position the button vertically at 50% from the top */
  left: 832px;
  width: 134px;
  height: 134px; /* I'm assuming you intended 40px height, not 4000px */
  /* The following line is the key to center horizontally */
  margin: 0 auto; /* Set the left and right margins to "auto" */
  overflow: hidden
}



.unionGreen {
  position: absolute;
  top: -100px; /* Position the button vertically at 50% from the top */
  left: 682px;
 
}

.polygon {

  position: absolute;
 
  left: 1597.07px;
  top: 1042.76px;
  
  /* Gradient  Banana 
  background: linear-gradient(99.99deg, #FFCF3D 7.49%, #EE5E22 92.51%);*/

  overflow: hidden;

  
}

.tile_left {
  position: absolute;
  left: 390px;
  top: 154px;

}

.tile_right {
  position: absolute;
  left: 1010.05px;
  top: 154px;

}


.home_b {
  position: absolute;
left: 41px;
top: 42 px;

}


.left_shape { 
  width: 2993.175px;
  height: 1096px;
  flex-shrink: 0;
  position: absolute;
  left: -1000px;
  flex-shrink: 0;
 
}
  
.right_shape {
position: absolute;
left: 400px;

}

.start_button_quizz {
position:absolute;
width: 392px;
height: 100px;
flex-shrink: 0;
left: 1488px;
top: 932px
}

.stork {
  position: absolute;
  left:670px;
  top: 0px
}

.set_right_buttons {

  display: flex;
width: 243px;
height: 65px;
justify-content: center;
align-items: flex-start;
gap: 24px;
flex-shrink: 0;
left: 1636px;
top: 42px;
position: absolute
}

.set_left {

  display: flex;
width: 154px;
height: 65px;
justify-content: center;
align-items: flex-start;
gap: 24px;
flex-shrink: 0;
left: 40px;
top: 42px;
position: absolute
}

.set_left_home {
  display: flex;
  width: 65px;
  height: 65px;
  left: 40px;
top: 42px;
position: absolute
}


.set_right_bg {




left: 1580px;
top: -10px;
position: absolute
}

.tile_left_photo {
  box-sizing: border-box;
  left: 435px;
  top: 195px;
  width: 425.848px;
height: 562px;
  border-radius: 12px;
  position:absolute;


}

.tile_right_photo {
  box-sizing: border-box;
  left: 1055px;
  top: 195px;
  width: 425.848px;
height: 562px;
  border-radius: 12px;
  position:absolute;


}

.tile1_title {
  position:absolute;
  color: var(--blueberry-900, #06252D);
  font-family: Rubik;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 41.4px */
  left: 435px;
  top:800px;
  width: 425.848px;
}



.tile2_title {
  position:absolute;
  color: var(--blueberry-900, #06252D);
  font-family: Rubik;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 41.4px */
  left: 1055px;
  top:800px;
  width: 425.848px;
}
.quiz_start {
  position: fixed; 
}

.quiz_title {
  width: 606px;
 
  color: #06252D;
font-family: Rubik;
font-size: 46px;
font-style: normal;
font-weight: 500;
line-height: 138%;
left: 91px;
top: 356px;
position: absolute;



}

.question_rectagle{
  position: absolute;


}
.question_number{
  position: absolute;
  left: 40px;
  top:208px;


}

.question_nr_knowledge{
  position: absolute;
  left: 12px;
  top:288px;


}

.question {

position: absolute;
left:77px;
top:45px;
color: #371A4D;
font-family: Rubik;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 138%; /* 38.64px */
width: 600px;

}


.quiz_bar {
position: absolute;
  left:400px;
  top:32px;

}
.answer_tile {
position: fixed



}


.answer_txt {
left: 82px;
top: 577px;
position:absolute;

color: var(--blueberry-900, #06252D);
text-align: center;
font-family: Rubik;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 138%; /* 41.4px */
vertical-align: middle ;
text-align: center;

width: 398.207px;

}

.answer_photo {
position: absolute;

left: 62px;
top: 62px;
}
.question_letter {
  width: 21.956px;
  height: 41px;
  color: var(--White, #FFF);
text-align: center;
font-family: Rubik;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 138%; /* 41.4px */
left: 269px;
top: 685px;
position: absolute
}



.quiz_answer {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  left: 50px;
  top: 100px;

  border-radius: 100px;
  position:absolute;
  gap: 570px;

} 
.quizz {

position: fixed;

}

.quiz_description_long {
  color: #000;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  width: 606px;

  position: absolute;
  left: 91px;
  top: 489px;

}


.quiz_description_title {

width: 557px;
color: var(--blueberry-900, #06252D);
font-family: Rubik;
font-size: 55px;
font-style: normal;
font-weight: 600;
line-height: 138%; /* 75.9px */

position: absolute;
left: 91px;
top: 365px;
}

.answer_photo_description {

position: absolute;
left: 1170px;
top: 224px;
width: 556px;
height: 648px;
flex-shrink: 0;

}

.quiz_description_question {
  color: var(--blueberry-900, #06252D);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 138%; 
  position: absolute;
  left: 91px;
  top: 316px;/* 33.12px */

}

.number_id {
  color: var(--White, #FFF);
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 138%;
  position: absolute;
  left: 27.81px;
  top: 20px;
  width: 55px;
  height: 55px;
  text-align: center;
  justify-content: center;
}

.number_all {
  color: var(--blueberry-900, #06252D);
font-family: Rubik;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 138%;
position: absolute;
left: 139.2px;
top: 40px;

text-align: center;
justify-content: center;
}
.slash {

position:absolute;
top: 38px;
left: 117px;
font-family: Rubik;
color: var(--blueberry-900, #06252D);
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 138%;

}

.knowledge_slider {
  position:fixed;
}

.polygon_blue_small_knowledge {

  position: absolute;
  left: 521px;
  top: 55px;
}

.union_green_knowledge{
position:absolute;
left: -326px;
top: 935px;


}

.knowledge_slider_text {

  position: absolute;
  left:143px;
  top: 342px;
  width: 515px;
  height: 543px;
  
  /* //overflow-y: auto; */
  display: flex;
  flex-direction: column;

  
}
.konwledge_title {
  color: var(--blueberry-900, #06252D);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 33.12px */

}

.konwledge_subtitle {
 
  color: var(--blueberry-900, #06252D);
font-family: Rubik;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 138%; /* 24.84px */

}

.konwledge_text {
  color: var(--blueberry-900, #06252D);
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 165%; /* 26.4px */
overflow-y: auto;
}

.swipe_left {

  position:absolute;
  left:1635px;
  top:202px;
}

.blur_knowledge{
  position:absolute;
  left:-10px;
  top:-10px;

}


.gallery_bg {
position:absolute;
left:300px;
top:-10px;
mix-blend-mode: luminosity;
filter: grayscale(1);


}

.intersect_qzz_strt {
position:absolute;
left:1429px;
top:229px;


}

.gray_shape_qzz_strt{
position: absolute;
left: 812px;

}

.scrollArea {
  margin: 0 auto;
  border: 0px solid #efefef;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  z-index: 100;
  
 
}
*::-webkit-scrollbar {
  width: 6px;
  position: absolute;
  left: 120px;
}

*::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 9px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1796b5;
  border-radius: 100px;
  border: 4px none #ffffff;
}



@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.008); 
  }}
